.hero-title{
	transition: 3s;
	
}
.hero-title:nth-of-type(5n+1):hover{
	
	width: 20px;
	color: red;
	transition: .1s;
	
}
.hero-title:nth-of-type(5n+2):hover{
	width: 20px;
	color: yellow;
	transition: .1s;
	
}
.hero-title:nth-of-type(5n+3):hover{
	width: 20px;
	color: purple;
	transition: .1s;
	
}
.hero-title:nth-of-type(5n+4):hover{
	width: 20px;
	color: blue;
	transition: .1s;
	
}
.hero-title:nth-of-type(5n+5):hover{
	width: 20px;
	color: green;
	transition: .1s;
	
}
/* .hero-title:nth-of-type(6):hover{
	width: 20px;
	color: red;
	transition: .1s;
}
.hero-title:nth-of-type(7):hover{
	width: 20px;
	color: yellow;
	transition: .1s;
}
.hero-title:nth-of-type(8):hover{
	width: 20px;
	color: purple;
	transition: .1s;
}
.hero-title:nth-of-type(9):hover{
	width: 20px;
	color: blue;
	transition: .1s;
}
.hero-title:nth-of-type(10):hover{
	width: 20px;
	color: red;
	transition: .1s;
} */