nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

nav > .navbar__logo {
	display: flex;
	justify-content: start;
	align-items: center;
}

nav > .navbar__links {
	display: flex;
	justify-content: center;
	align-items: center;
}
